/*
 *  Styles for VZ Url fieldtype
 *  by Eli Van Zoeren - http://elivz.com
 */

.vz_url_wrapper {
    position: relative;
    margin-top: 11px;
}

.vz_url_field {
    padding-right: 75px !important;
    margin: 0;
}
.vz_url_field:focus {
    padding-right: 74px !important;
    border-width: 2px;
}

.vz_url_field.empty {
    color: #aaa;
}

.vz_url_field.checking {
    background: #fff url(IMAGE_URL/loader.gif) no-repeat 99% 50%;
}

.vz_url_field.invalid,
.vz_url_field.invalid:focus,
.vz_url_field.redirect,
.vz_url_field.redirect:focus,
.vz_url_field.nonlocal,
.vz_url_field.nonlocal:focus {
    color: #c11;
    border-color: #a66;
}

.vz_url_msg {
    opacity: 0;
    position: absolute;
    visibility: hidden;
    z-index: 100;
    left: 0;
    top: 30px;
    max-width: 100%;
    padding: 5px 6px;
    color: #E1E8ED !important;
    font-size: 11px;
    white-space: nowrap;
    background-color: #415058;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.1);
    box-shadow: 0 1px 5px rgba(0,0,0,0.1);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

/* Display the tooltip when the field doesn't pass validation */
.vz_url_field.invalid:focus + .vz_url_msg,
.vz_url_field.redirect:focus + .vz_url_msg,
.vz_url_field.nonlocal:focus + .vz_url_msg {
    opacity: 1;
    top: 26px;
    visibility: visible;
}

.vz_url_msg a:link,
.vz_url_msg a:visited {
    position: relative;
    display: inline-block;
    padding: 5px 6px 5px 5px;
    margin: -5px -6px -5px 7px;
    border-left: 1px solid #485861;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}
.vz_url_msg a:focus,
.vz_url_msg a:hover {
    color: #fffff5;
    background-color: #4a5a64;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4a5a64), to(#38454c));
    background-image: -webkit-linear-gradient(top, #4a5a64, #38454c);
    background-image: -moz-linear-gradient(top, #4a5a64, #38454c);
    background-image: -ms-linear-gradient(top, #4a5a64, #38454c);
    background-image: linear-gradient(top, #4a5a64, #38454c);
    text-shadow: 1px 1px 0 #262e33;
}
.vz_url_msg a:before {
    content: "";
    position: absolute;
    left: -2px;
    top: 0;
    height: 100%;
    width: 0;
    border-left: 1px solid #37424a;
}

/* Little arrow pointing at the field */
.vz_url_msg:before {
    content: "";
    position: absolute;
    left: 10px;
    top: -5px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top: 0;
    border-bottom: 5px solid #415058;
}

/* Visit link */
.vz_url_visit:link,
.vz_url_visit:visited {
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    bottom: 0;
    line-height: 24px;
    padding: 0 8px;
    font-size: 11px;
    font-weight: bold;
    color: #5f6c74 !important;
    text-decoration: none !important;
    text-shadow: 0 1px #fff;
    background-color: #8195a0;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#edf2f5), to(#e0e5e8));
    background: -moz-linear-gradient(top, #edf2f5, #e0e5e8);
    background-image: linear-gradient(top, #edf2f5, #e0e5e8);
    border: 1px solid #8195a0;
    border-left-color: #c8cfd8;
    box-shadow: inset 0 1px 0 #fff;
    -webkit-border-radius: 2px 3px 3px 2px;
    -moz-border-radius: 2px 3px 3px 2px;
    border-radius: 2px 3px 3px 2px;
}

/* Special stying for Grid cells */
.grid_cell .vz_url_wrapper {
    margin-top: 0;
}

.grid_cell .vz_url_msg {
    top: 34px;
}

.grid_cell .vz_url_field.invalid:focus + .vz_url_msg,
.grid_cell .vz_url_field.redirect:focus + .vz_url_msg,
.grid_cell .vz_url_field.nonlocal:focus + .vz_url_msg {
    top: 30px;
}

.grid_cell .vz_url_visit:link,
.grid_cell .vz_url_visit:visited {
    margin: 0;
    line-height: 27px;
    border-color: #c8cfd8;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

/* Special stying for Matrix cells */
td.matrix .vz_url_wrapper {
    margin-top: 0;
}

td.matrix input.vz_url_field {
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    min-width: 60px;
    resize: none;
    outline: none;
    background: none;
    font-family: 'Lucida Grande', sans-serif;
    font-size: 11px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

td.matrix .vz_url_msg {
    top: 26px;
}

td.matrix .vz_url_field.invalid:focus + .vz_url_msg,
td.matrix .vz_url_field.redirect:focus + .vz_url_msg,
td.matrix .vz_url_field.nonlocal:focus + .vz_url_msg {
    top: 22px;
}

td.matrix .vz_url_visit:link,
td.matrix .vz_url_visit:visited {
    margin: -5px -7px -5px 0;
    height: 23px;
    border-color: #c8cfd8;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}