/*
 *  Styles for VZ Url fieldtype
 *  by Eli Van Zoeren - http://elivz.com
 */

.vz_url_field.empty {
	color: #aaa;
}

.vz_url_field.checking {
	background: #fff url(spinner.gif) no-repeat 99% 50%;
}

.vz_url_field.invalid {
	background: #fff url(invalid.png) no-repeat 99% 50%;
}

.vz_url_field.valid {
	background: #fff url(valid.png) no-repeat 99% 50%;
}

.vz_url_wrapper {
	position: relative;
}
  
.publish_field .vz_url_msg {
	position: absolute;
	right: 30px;
	bottom: 0;
	background: transparent;
	color: #966;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 24px !important;
	font-weight: bold;
}