/*
 * Styles for VZ Url fieldtype
 * by Eli Van Zoeren - http://elivz.com
 */

@keyframes vz-spin {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

%icon {
    display: inline-block;
    font-family: 'Glyphicons Regular';
    font-size: 12px;
    font-weight: 400;
}

.vzurl-wrapper {
    position: relative;
}

.vzurl-field {
    padding-right: 2.5em;
    margin: 0;
}

.vzurl-msg {
    clear: both;
    display: block;
    font-size: 12px;
    margin: -5px 0 10px;
    text-align: left;

    // Special stying for Grid cells
    .grid-input-form & {
        margin-top: 5px;
    }

    .btn {
        margin-left: 0.5em;
        font-style: normal;
        font-size: 9px;
        padding: 3px 4px 2px;
        border-radius: 3px;
    }
}

// Validation states
.vzurl-wrapper {
    &.checking:after {
        @extend %icon;
        content: "\e366";
        position: absolute;
        right: 0.75em;
        top: 0.5em;
        color: #aaa;
        animation-name: vz-spin;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    &.invalid {
        .vzurl-field {
            background-color: snow;
            border-color: #dea5a5;
        }

        .vzurl-msg {
            color: #bc4848;
        }
    }

    &.redirect {
        .vzurl-field {
            background-color: #fffffe;
            border-color: #dfb700;
        }

        .vzurl-msg {
            color: #796300;
        }
    }
}

// Visit link
.vzurl-visit:link,
.vzurl-visit:visited {
    @extend %icon;
    position: absolute;
    right: 1px;
    top: 1px;
    height: 1.75em;
    padding: 5px 4px 1px 6px;
    text-decoration: none;
    background-color: transparent;
    border-left: 1px solid #cdcdcd;

    &:before {
        content: "\e390";
    }
}
